/* Import Tailwind CSS */
@import "tailwindcss";
@import "./animations.css";



@theme inline {
  /* Brand colors */
  --color-brand-blue: #38b5e6;
  --color-brand-green: #44c39f;
  --color-brand-red: #d72c1e;
  --color-brand-orange: #ff6921;
  --color-brand-purple: #939bd0;

  --hover-color-about: var(--color-brand-blue);
  --hover-color-team: var(--color-brand-green);
  --hover-color-evaluation: var(--color-brand-red);
  --hover-color-therapy: var(--color-brand-orange);
  --hover-color-contact: var(--color-brand-purple);

  /* Neutrals */
  --color-background-primary: var(--color-neutral-50);
  --color-background-secondary: var(--color-stone-100);
  --color-background-primary-dark: var(--color-gray-800);
  --color-background-secondary-dark: var(--color-gray-900);

  --color-primary: oklch(0.31 0.0023 67.74);
  --color-secondary: var(--color-zinc-400);
  --color-primary-dark: var(--color-zinc-300);
  --color-secondary-dark: var(--color-slate-600);

  --color-accent: var(--color-sky-700);
  --color-accent-dark: var(--color-brand-purple);

  /* Font Faces */
  --font-sans: "Assistant", "sans-serif";
  --font-serif: "Minion Pro", "serif";
}

/* Base element styling */
@layer base {
  /* Import fonts */
  @font-face {
    font-family: "Assistant";
    src: url("/src/assets/fonts/Assistant/Regular/Assistant-Regular.woff2")
      format("woff2");
    font-weight: 100 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Assistant";
    src: url("/src/assets/fonts/Assistant/SemiBold/Assistant-SemiBold.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Assistant";
    src: url("/src/assets/fonts/Assistant/Bold/Assistant-Bold.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Assistant";
    src: url("/src/assets/fonts/Assistant/ExtraBold/Assistant-ExtraBold.woff2")
      format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Minion Pro";
    src: url("/src/assets/fonts/MinionPro/Regular/MinionPro-Regular.woff2")
      format("woff2");
    font-weight: 100 400;
    font-style: normal;
    font-display: swap;
  }

  /* light theme values */
  html {
    background-color: var(--color-background-primary);
    color: var(--color-primary);

    @variant dark {
      background-color: var(--color-background-primary-dark);
      color: var(--color-primary-dark);
    }
  }

  header {
    background-color: var(--color-background-primary);

    @variant dark {
      background-color: var(--color-background-primary-dark);
      color: var(--color-primary-dark);
    }
  }

  footer {
    background-color: var(--color-background-secondary);

    @variant dark {
      background-color: var(--color-background-primary-dark);
      color: var(--color-primary-dark);
    }
  }

  h1,
  h2 {
    color: var(--color-brand-red);
    font-weight: 900;
  }
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-brand-blue);
    font-family: var(--font-sans);
    font-weight: bolder;
    text-transform: uppercase;
  }
}

@layer components {
  /* component styling - overridable with utility classes */
  a {
    color: var(--color-brand-purple);
    &:hover {
      color: var(--color-brand-green);
    }
  }

  .card-background {
    background-color: var(--color-background-secondary);

    @variant dark {
      background-color: var(--color-background-secondary-dark);
    }
  }

  .svg-background {
    border-radius: calc(infinity * 1px);
    border-width: 2px;
  }

  .custom-badge {
    border-style: var(--tw-border-style);
    border-width: 2px;
    font-weight: bold;
    text-align: center;
    border-radius: calc(infinity * 1px);
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 6);

    background-color: var(--color-background-primary);
    border-color: var(--color-brand-blue);
    color: var(--color-brand-blue);

    &:hover {
      background-color: var(--color-brand-blue);
      color: var(--color-background-primary);
    }

    @variant dark {
      background-color: transparent;
      border-color: var(--color-secondary-dark);
      color: var(--color-secondary-dark);

      @variant hover {
        background-color: var(--color-background-secondary);
        border-color: var(--color-background-secondary);
        color: var(--color-secondary);
      }
    }
  }

}

/* Accessibility styles */
:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}

/* Skip to content link for keyboard users */
.skip-to-content {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 100;
  background: var(--color-blue);
  color: white;
  padding: 1rem;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  left: 0;
  transform: translateY(0);
}
